ErrorDocument 404 /404.php
RewriteEngine on

<IfModule mod_rewrite.c>
RewriteBase /schoolnew/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/favicon.ico

RewriteRule ^NotFound$ 404.php
RewriteRule ^Include$ Include.php
RewriteRule ^Help$ Help.php
RewriteRule ^Help/$ Help.php
RewriteRule ^SMS$ SMS.php
RewriteRule ^SMS/$ SMS.php
RewriteRule ^SMS/([A-Za-z0-9\-]+)$ SMS.php?AccountType=$1
RewriteRule ^SMS/([A-Za-z0-9\-]+)/$ SMS.php?AccountType=$1
RewriteRule ^Functions$ Functions.php
RewriteRule ^Functions/$ Functions.php
RewriteRule ^DatabaseDelete$ DatabaseDelete.php
RewriteRule ^DatabaseDelete/$ DatabaseDelete.php
RewriteRule ^PrintReceipt$ PrintReceipt.php
RewriteRule ^PrintReceipt/$ PrintReceipt.php
RewriteRule ^PrintReceipt/([A-Za-z0-9\-]+)$ PrintReceipt.php?TransactionId=$1
RewriteRule ^PrintReceipt/([A-Za-z0-9\-]+)/$ PrintReceipt.php?TransactionId=$1
RewriteRule ^ExamReport$ ExamReport.php
RewriteRule ^ExamReport/$ ExamReport.php
RewriteRule ^PrintExamReport$ PrintExamReport.php
RewriteRule ^PrintExamReport/$ PrintExamReport.php
RewriteRule ^PrintExamReport/([A-Za-z0-9\-]+)$ PrintExamReport.php?AdmissionId=$1
RewriteRule ^PrintExamReport/([A-Za-z0-9\-]+)/$ PrintExamReport.php?AdmissionId=$1
RewriteRule ^Database$ Database.php
RewriteRule ^Database/$ Database.php
RewriteRule ^GetDetail$ GetDetail.php
RewriteRule ^GetDetail/$ GetDetail.php
RewriteRule ^FeeReport/([A-Za-z0-9\-]+)$ FeeReport.php?Session=$1
RewriteRule ^FeeReport/([A-Za-z0-9\-]+)/$ FeeReport.php?Session=$1
RewriteRule ^LogIn$ index.php
RewriteRule ^LogIn/$ index.php
RewriteRule ^LogOut$ LogOut.php
RewriteRule ^LogOut/$ LogOut.php
RewriteRule ^ChangePassword$ ChangePassword.php
RewriteRule ^ChangePassword/$ ChangePassword.php
RewriteRule ^DashBoard$ DashBoard.php
RewriteRule ^DashBoard/$ DashBoard.php
RewriteRule ^GeneralSetting$ GeneralSetting.php
RewriteRule ^GeneralSetting/$ GeneralSetting.php
RewriteRule ^Circular$ Circular.php
RewriteRule ^Circular/$ Circular.php
RewriteRule ^Circular/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Circular.php?Action=$1&Id=$2
RewriteRule ^Circular/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Circular.php?Action=$1&Id=$2
RewriteRule ^RemoteValidation$ RemoteValidation.php
RewriteRule ^RemoteValidation/$ RemoteValidation.php
RewriteRule ^RemoteValidation/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ RemoteValidation.php?Action=$1&Id=$2
RewriteRule ^RemoteValidation/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ RemoteValidation.php?Action=$1&Id=$2
RewriteRule ^Action$ Action.php
RewriteRule ^Action/$ Action.php
RewriteRule ^HouseAction$ HouseAction.php
RewriteRule ^HouseAction/$ HouseAction.php
RewriteRule ^ManageSession$ ManageSession.php
RewriteRule ^ManageSession/$ ManageSession.php
RewriteRule ^ManageSession/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageSession.php?Action=$1&Session=$2
RewriteRule ^ManageSession/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageSession.php?Action=$1&Session=$2
RewriteRule ^MasterEntry$ MasterEntry.php
RewriteRule ^MasterEntry/$ MasterEntry.php
RewriteRule ^MasterEntry/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ MasterEntry.php?Action=$1&MasterEntryId=$2
RewriteRule ^MasterEntry/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ MasterEntry.php?Action=$1&MasterEntryId=$2
RewriteRule ^Language$ Language.php
RewriteRule ^Language/$ Language.php
RewriteRule ^Language/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Language.php?Action=$1&Id=$2
RewriteRule ^Language/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Language.php?Action=$1&Id=$2
RewriteRule ^SalaryHead$ SalaryHead.php
RewriteRule ^SalaryHead/$ SalaryHead.php
RewriteRule ^SalaryHead/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ SalaryHead.php?Action=$1&SalaryHeadId=$2
RewriteRule ^SalaryHead/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ SalaryHead.php?Action=$1&SalaryHeadId=$2
RewriteRule ^Print$ Print.php
RewriteRule ^Print/$ Print.php
RewriteRule ^PrintOption$ PrintOption.php
RewriteRule ^PrintOption/$ PrintOption.php
RewriteRule ^PrintOption/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ PrintOption.php?Action=$1&UniqueId=$2
RewriteRule ^PrintOption/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ PrintOption.php?Action=$1&UniqueId=$2
RewriteRule ^SalaryStructureTemplate$ SalaryStructureTemplate.php
RewriteRule ^SalaryStructureTemplate/$ SalaryStructureTemplate.php
RewriteRule ^SalaryStructureTemplate/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ SalaryStructureTemplate.php?Action=$1&SalaryStructureId=$2
RewriteRule ^SalaryStructureTemplate/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ SalaryStructureTemplate.php?Action=$1&SalaryStructureId=$2
RewriteRule ^ManageAccounts$ ManageAccounts.php
RewriteRule ^ManageAccounts/$ ManageAccounts.php
RewriteRule ^ManageAccounts/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageAccounts.php?Action=$1&AccountId=$2
RewriteRule ^ManageAccounts/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageAccounts.php?Action=$1&AccountId=$2
RewriteRule ^ActionGet$ ActionGet.php
RewriteRule ^ActionGet/$ ActionGet.php
RewriteRule ^ActionGet/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ActionGet.php?Action=$1&UniqueId=$2
RewriteRule ^ActionGet/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ActionGet.php?Action=$1&UniqueId=$2
RewriteRule ^ManageClass$ ManageClass.php
RewriteRule ^ManageClass/$ ManageClass.php
RewriteRule ^ManageClass/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageClass.php?Action=$1&UniqueId=$2
RewriteRule ^ManageClass/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageClass.php?Action=$1&UniqueId=$2
RewriteRule ^ManageSubject$ ManageSubject.php
RewriteRule ^ManageSubject/$ ManageSubject.php
RewriteRule ^ManageSubject/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageSubject.php?Action=$1&UniqueId=$2
RewriteRule ^ManageSubject/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageSubject.php?Action=$1&UniqueId=$2
RewriteRule ^ManageSCArea$ ManageSCArea.php
RewriteRule ^ManageSCArea/$ ManageSCArea.php
RewriteRule ^ManageSCArea/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageSCArea.php?Action=$1&UniqueId=$2
RewriteRule ^ManageSCArea/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageSCArea.php?Action=$1&UniqueId=$2
RewriteRule ^ManageSCIndicator$ ManageSCIndicator.php
RewriteRule ^ManageSCIndicator/$ ManageSCIndicator.php
RewriteRule ^ManageSCIndicator/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageSCIndicator.php?Action=$1&UniqueId=$2
RewriteRule ^ManageSCIndicator/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageSCIndicator.php?Action=$1&UniqueId=$2
RewriteRule ^Registration$ Registration.php
RewriteRule ^Registration/$ Registration.php
RewriteRule ^Registration/([A-Za-z0-9\-]+)$ Registration.php?RegistrationId=$1
RewriteRule ^Registration/([A-Za-z0-9\-]+)/$ Registration.php?RegistrationId=$1
RewriteRule ^ManageFee$ ManageFee.php
RewriteRule ^ManageFee/$ ManageFee.php
RewriteRule ^ManageFee/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageFee.php?Action=$1&UniqueId=$2
RewriteRule ^ManageFee/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageFee.php?Action=$1&UniqueId=$2
RewriteRule ^Admission$ Admission.php
RewriteRule ^Admission/$ Admission.php
RewriteRule ^AdmissionReport$ AdmissionReport.php
RewriteRule ^AdmissionReport/$ AdmissionReport.php
RewriteRule ^AdmissionReport/([A-Za-z0-9\-]+)$ AdmissionReport.php?SectionId=$1
RewriteRule ^AdmissionReport/([A-Za-z0-9\-]+)/$ AdmissionReport.php?SectionId=$1
RewriteRule ^Transport$ Transport.php
RewriteRule ^Transport/$ Transport.php
RewriteRule ^Transport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Transport.php?Action=$1&UniqueId=$2
RewriteRule ^Transport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Transport.php?Action=$1&UniqueId=$2
RewriteRule ^ManageExam$ ManageExam.php
RewriteRule ^ManageExam/$ ManageExam.php
RewriteRule ^ManageExam/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageExam.php?Action=$1&UniqueId=$2
RewriteRule ^ManageExam/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageExam.php?Action=$1&UniqueId=$2
RewriteRule ^ManageStaff$ ManageStaff.php
RewriteRule ^ManageStaff/$ ManageStaff.php
RewriteRule ^ManageStaff/([A-Za-z0-9\-]+)$ ManageStaff.php?StaffId=$1
RewriteRule ^ManageStaff/([A-Za-z0-9\-]+)/$ ManageStaff.php?StaffId=$1
RewriteRule ^TransportRoute$ TransportRoute.php
RewriteRule ^TransportRoute/$ TransportRoute.php
RewriteRule ^TransportRoute/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ TransportRoute.php?Action=$1&UniqueId=$2
RewriteRule ^TransportRoute/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ TransportRoute.php?Action=$1&UniqueId=$2
RewriteRule ^TransportRoute/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ TransportRoute.php?Action=$1&UniqueId=$2&SAction=$3&SUniqueId=$4
RewriteRule ^TransportRoute/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ TransportRoute.php?Action=$1&UniqueId=$2&SAction=$3&SUniqueId=$4
RewriteRule ^StaffAttendance$ StaffAttendance.php
RewriteRule ^StaffAttendance/$ StaffAttendance.php
RewriteRule ^StudentAttendance$ StudentAttendance.php
RewriteRule ^StudentAttendance/$ StudentAttendance.php
RewriteRule ^StudentAttendance/([A-Za-z0-9\-]+)$ StudentAttendance.php?SectionId=$1
RewriteRule ^StudentAttendance/([A-Za-z0-9\-]+)/$ StudentAttendance.php?SectionId=$1
RewriteRule ^ExamSetup/([A-Za-z0-9\-]+)$ ExamSetup.php?ExamId=$1
RewriteRule ^ExamSetup/([A-Za-z0-9\-]+)/$ ExamSetup.php?ExamId=$1
RewriteRule ^ExamSetup/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ExamSetup.php?ExamId=$1&Action=$2&UniqueId=$3
RewriteRule ^ExamSetup/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ExamSetup.php?ExamId=$1&Action=$2&UniqueId=$3
RewriteRule ^MarksSetup/$ MarksSetup.php
RewriteRule ^MarksSetup$ MarksSetup.php
RewriteRule ^MarksSetup/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ MarksSetup.php?ExamId=$1&SubjectId=$2
RewriteRule ^MarksSetup/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ MarksSetup.php?ExamId=$1&SubjectId=$2
RewriteRule ^SCMarksSetup/$ SCMarksSetup.php
RewriteRule ^SCMarksSetup$ SCMarksSetup.php
RewriteRule ^SCMarksSetup/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ SCMarksSetup.php?ExamId=$1&SCAreaId=$2
RewriteRule ^SCMarksSetup/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ SCMarksSetup.php?ExamId=$1&SCAreaId=$2
RewriteRule ^Call/$ Call.php
RewriteRule ^Call$ Call.php
RewriteRule ^Call/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Call.php?Action=$1&CallId=$2
RewriteRule ^Call/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Call.php?Action=$1&CallId=$2
RewriteRule ^OCall/$ OCall.php
RewriteRule ^OCall$ OCall.php
RewriteRule ^OCall/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ OCall.php?Action=$1&CallId=$2
RewriteRule ^OCall/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ OCall.php?Action=$1&CallId=$2
RewriteRule ^FollowUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ FollowUp.php?Action=$1&Id=$2
RewriteRule ^FollowUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ FollowUp.php?Action=$1&Id=$2
RewriteRule ^FollowUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ FollowUp.php?Action=$1&Id=$2&FAction=$3&FId=$4
RewriteRule ^FollowUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ FollowUp.php?Action=$1&Id=$2&FAction=$3&FId=$4
RewriteRule ^ActionDelete$ ActionDelete.php
RewriteRule ^ActionDelete/$ ActionDelete.php
RewriteRule ^DeletePopUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ DeletePopUp.php?Action=$1&Id=$2
RewriteRule ^DeletePopUp/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ DeletePopUp.php?Action=$1&Id=$2
RewriteRule ^Calendar$ Calendar.php
RewriteRule ^Calendar/$ Calendar.php
RewriteRule ^Calendar/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Calendar.php?Action=$1&CalendarId=$2
RewriteRule ^Calendar/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Calendar.php?Action=$1&CalendarId=$2
RewriteRule ^Enquiry$ Enquiry.php
RewriteRule ^Enquiry/$ Enquiry.php
RewriteRule ^Enquiry/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Enquiry.php?Action=$1&EnquiryId=$2
RewriteRule ^Enquiry/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Enquiry.php?Action=$1&EnquiryId=$2
RewriteRule ^StudentAjaxTab$ StudentAjaxTab.php
RewriteRule ^StaffAjaxTab$ StaffAjaxTab.php
RewriteRule ^StaffAjaxTab/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ StaffAjaxTab.php?Action=$1&Id=$2
RewriteRule ^StaffAjaxTab/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ StaffAjaxTab.php?Action=$1&Id=$2
RewriteRule ^DR$ DR.php
RewriteRule ^DR/$ DR.php
RewriteRule ^DR/([A-Za-z0-9\-]+)$ DR.php?DRType=$1
RewriteRule ^DR/([A-Za-z0-9\-]+)/$ DR.php?DRType=$1
RewriteRule ^DR/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ DR.php?DRType=$1&Action=$2&Id=$3
RewriteRule ^DR/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ DR.php?DRType=$1&Action=$2&Id=$3
RewriteRule ^Complaint/$ Complaint.php
RewriteRule ^Complaint$ Complaint.php
RewriteRule ^Complaint/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Complaint.php?Action=$1&ComplaintId=$2
RewriteRule ^Complaint/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Complaint.php?Action=$1&ComplaintId=$2
RewriteRule ^VisitorBook/$ VisitorBook.php
RewriteRule ^VisitorBook$ VisitorBook.php
RewriteRule ^VisitorBook/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ VisitorBook.php?Action=$1&VisitorBookId=$2
RewriteRule ^VisitorBook/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ VisitorBook.php?Action=$1&VisitorBookId=$2
RewriteRule ^ManageUser$ ManageUser.php
RewriteRule ^ManageUser/$ ManageUser.php
RewriteRule ^ManageUser/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageUser.php?Action=$1&UserId=$2
RewriteRule ^ManageUser/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageUser.php?Action=$1&UserId=$2
RewriteRule ^Permission$ Permission.php
RewriteRule ^Permission/$ Permission.php
RewriteRule ^Permission/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Permission.php?Action=$1&UniqueId=$2
RewriteRule ^Permission/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Permission.php?Action=$1&UniqueId=$2
RewriteRule ^ReportAction$ ReportAction.php
RewriteRule ^ReportAction/$ ReportAction.php
RewriteRule ^ManageLocation$ ManageLocation.php
RewriteRule ^ManageLocation/$ ManageLocation.php
RewriteRule ^ManageLocation/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageLocation.php?Action=$1&LocationId=$2
RewriteRule ^ManageLocation/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageLocation.php?Action=$1&LocationId=$2
RewriteRule ^Register$ Register.php
RewriteRule ^Register/$ Register.php
RewriteRule ^ManageHeaderAndFooter$ ManageHeaderAndFooter.php
RewriteRule ^ManageHeaderAndFooter/$ ManageHeaderAndFooter.php
RewriteRule ^ManageHeaderAndFooter/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageHeaderAndFooter.php?Action=$1&HeaderId=$2
RewriteRule ^ManageHeaderAndFooter/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageHeaderAndFooter.php?Action=$1&HeaderId=$2
RewriteRule ^ErrorPage$ ErrorPage.php
RewriteRule ^ErrorPage/$ ErrorPage.php
RewriteRule ^BackUpRestore$ BackUpRestore.php
RewriteRule ^BackUpRestore/$ BackUpRestore.php
RewriteRule ^BackUpAction$ BackUpAction.php
RewriteRule ^BackUpAction/$ BackUpAction.php
RewriteRule ^Income$ Income.php
RewriteRule ^Income/$ Income.php
RewriteRule ^Income/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Income.php?Action=$1&UniqueId=$2
RewriteRule ^Income/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Income.php?Action=$1&UniqueId=$2
RewriteRule ^Expense$ Expense.php
RewriteRule ^Expense/$ Expense.php
RewriteRule ^Expense/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Expense.php?Action=$1&UniqueId=$2
RewriteRule ^Expense/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Expense.php?Action=$1&UniqueId=$2
RewriteRule ^Expense/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Expense.php?Action=$1&UniqueId=$2&UniqueId2=$3
RewriteRule ^Expense/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Expense.php?Action=$1&UniqueId=$2&UniqueId2=$3
RewriteRule ^Supplier$ Supplier.php
RewriteRule ^Supplier/$ Supplier.php
RewriteRule ^Supplier/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Supplier.php?Action=$1&SupplierId=$2
RewriteRule ^Supplier/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Supplier.php?Action=$1&SupplierId=$2
RewriteRule ^Promotion$ Promotion.php
RewriteRule ^Promotion/$ Promotion.php
RewriteRule ^UpdateFee$ UpdateFee.php
RewriteRule ^UpdateFee/$ UpdateFee.php
RewriteRule ^UpdateFee/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ UpdateFee.php?CurrentSectionId=$1&Student=$2
RewriteRule ^UpdateFee/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ UpdateFee.php?CurrentSectionId=$1&Student=$2
RewriteRule ^GetData$ GetData.php
RewriteRule ^GetData/$ GetData.php
RewriteRule ^GetData/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ GetData.php?Action=$1&UniqueId=$2
RewriteRule ^GetData/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ GetData.php?Action=$1&UniqueId=$2
RewriteRule ^Payment$ Payment.php
RewriteRule ^Payment/$ Payment.php
RewriteRule ^Payment/([A-Za-z0-9\-]+)$ Payment.php?AdmissionId=$1
RewriteRule ^Payment/([A-Za-z0-9\-]+)/$ Payment.php?AdmissionId=$1
RewriteRule ^Data$ Data.php
RewriteRule ^Data/$ Data.php
RewriteRule ^ManageHouse$ ManageHouse.php
RewriteRule ^ManageHouse/$ ManageHouse.php
RewriteRule ^ManageHouse/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageHouse.php?Action=$1&UniqueId=$2
RewriteRule ^ManageHouse/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageHouse.php?Action=$1&UniqueId=$2
RewriteRule ^Fee$ Fee.php
RewriteRule ^Fee/$ Fee.php
RewriteRule ^ManageBooks$ ManageBooks.php
RewriteRule ^ManageBooks/$ ManageBooks.php
RewriteRule ^ManageBooks/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageBooks.php?Action=$1&UniqueId=$2
RewriteRule ^ManageBooks/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageBooks.php?Action=$1&UniqueId=$2
RewriteRule ^IssueAndReturn$ IssueAndReturn.php
RewriteRule ^IssueAndReturn/$ IssueAndReturn.php
RewriteRule ^IssueAndReturn/([A-Za-z0-9\-]+)$ IssueAndReturn.php?IRTo=$1
RewriteRule ^IssueAndReturn/([A-Za-z0-9\-]+)/$ IssueAndReturn.php?IRTo=$1
RewriteRule ^IssueAndReturn/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ IssueAndReturn.php?IRTo=$1&BookIssueId=$2
RewriteRule ^IssueAndReturn/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ IssueAndReturn.php?IRTo=$1&BookIssueId=$2
RewriteRule ^StudentAttendanceReport$ StudentAttendanceReport.php
RewriteRule ^StudentAttendanceReport/$ StudentAttendanceReport.php
RewriteRule ^StaffAttendanceReport$ StaffAttendanceReport.php
RewriteRule ^StaffAttendanceReport/$ StaffAttendanceReport.php
RewriteRule ^ManageSchoolMaterial$ ManageSchoolMaterial.php
RewriteRule ^ManageSchoolMaterial/$ ManageSchoolMaterial.php
RewriteRule ^ManageSchoolMaterial/([A-Za-z0-9\-]+)$ ManageSchoolMaterial.php?MaterialType=$1
RewriteRule ^ManageSchoolMaterial/([A-Za-z0-9\-]+)/$ ManageSchoolMaterial.php?MaterialType=$1
RewriteRule ^ManageSchoolMaterial/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageSchoolMaterial.php?MaterialType=$1&Action=$2&UniqueId=$3
RewriteRule ^ManageSchoolMaterial/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageSchoolMaterial.php?MaterialType=$1&Action=$2&UniqueId=$3
RewriteRule ^PurchaseSchoolMaterial$ PurchaseSchoolMaterial.php
RewriteRule ^PurchaseSchoolMaterial/$ PurchaseSchoolMaterial.php
RewriteRule ^PurchaseSchoolMaterial/([A-Za-z0-9\-]+)$ PurchaseSchoolMaterial.php?MaterialType=$1
RewriteRule ^PurchaseSchoolMaterial/([A-Za-z0-9\-]+)/$ PurchaseSchoolMaterial.php?MaterialType=$1
RewriteRule ^PurchaseSchoolMaterial/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ PurchaseSchoolMaterial.php?MaterialType=$1&Token=$2
RewriteRule ^PurchaseSchoolMaterial/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ PurchaseSchoolMaterial.php?MaterialType=$1&Token=$2
RewriteRule ^PurchaseSchoolMaterial/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ PurchaseSchoolMaterial.php?MaterialType=$1&Token=$2&Action=$3&UniqueId=$4
RewriteRule ^PurchaseSchoolMaterial/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ PurchaseSchoolMaterial.php?MaterialType=$1&Token=$2&Action=$3&UniqueId=$4
RewriteRule ^ManageStock$ ManageStock.php
RewriteRule ^ManageStock/$ ManageStock.php
RewriteRule ^ManageStock/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageStock.php?Action=$1&UniqueId=$2
RewriteRule ^ManageStock/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageStock.php?Action=$1&UniqueId=$2
RewriteRule ^ManageStock/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ ManageStock.php?Action=$1&UniqueId=$2&SUniqueId=$3
RewriteRule ^ManageStock/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ ManageStock.php?Action=$1&UniqueId=$2&SUniqueId=$3
RewriteRule ^StockTransfer$ StockTransfer.php
RewriteRule ^StockTransfer/$ StockTransfer.php
RewriteRule ^StockTransfer/([A-Za-z0-9\-]+)$ StockTransfer.php?StockType=$1
RewriteRule ^StockTransfer/([A-Za-z0-9\-]+)/$ StockTransfer.php?StockType=$1
RewriteRule ^StockTransfer/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ StockTransfer.php?StockType=$1&StockId=$2
RewriteRule ^StockTransfer/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ StockTransfer.php?StockType=$1&StockId=$2
RewriteRule ^StockTransfer/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ StockTransfer.php?StockType=$1&StockId=$2&StockAssignId=$3
RewriteRule ^StockTransfer/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ StockTransfer.php?StockType=$1&StockId=$2&StockAssignId=$3
RewriteRule ^Purchase$ Purchase.php
RewriteRule ^Purchase/$ Purchase.php
RewriteRule ^Purchase/([A-Za-z0-9\-]+)$ Purchase.php?Token=$1
RewriteRule ^Purchase/([A-Za-z0-9\-]+)/$ Purchase.php?Token=$1
RewriteRule ^Purchase/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Purchase.php?Token=$1&Action=$2&UniqueId=$3
RewriteRule ^Purchase/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Purchase.php?Token=$1&Action=$2&UniqueId=$3
RewriteRule ^IssueSchoolMaterial$ IssueSchoolMaterial.php
RewriteRule ^IssueSchoolMaterial/$ IssueSchoolMaterial.php
RewriteRule ^IssueSchoolMaterial/([A-Za-z0-9\-]+)$ IssueSchoolMaterial.php?MaterialType=$1
RewriteRule ^IssueSchoolMaterial/([A-Za-z0-9\-]+)/$ IssueSchoolMaterial.php?MaterialType=$1
RewriteRule ^IssueSchoolMaterial/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ IssueSchoolMaterial.php?MaterialType=$1&AdmissionId=$2
RewriteRule ^IssueSchoolMaterial/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ IssueSchoolMaterial.php?MaterialType=$1&AdmissionId=$2
RewriteRule ^StockReport$ StockReport.php
RewriteRule ^StockReport/$ StockReport.php
RewriteRule ^StockReport/([A-Za-z0-9\-]+)$ StockReport.php?AssignTo=$1
RewriteRule ^StockReport/([A-Za-z0-9\-]+)/$ StockReport.php?AssignTo=$1
RewriteRule ^StockReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ StockReport.php?AssignTo=$1&StockDate=$2
RewriteRule ^StockReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ StockReport.php?AssignTo=$1&StockDate=$2
RewriteRule ^StockReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ StockReport.php?AssignTo=$1&StockDate=$2&AssignToDetail=$3
RewriteRule ^StockReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ StockReport.php?AssignTo=$1&StockDate=$2&AssignToDetail=$3
RewriteRule ^SchoolMaterialReport$ SchoolMaterialReport.php
RewriteRule ^SchoolMaterialReport/$ SchoolMaterialReport.php
RewriteRule ^SchoolMaterialReport/([A-Za-z0-9\-]+)$ SchoolMaterialReport.php?MaterialType=$1
RewriteRule ^SchoolMaterialReport/([A-Za-z0-9\-]+)/$ SchoolMaterialReport.php?MaterialType=$1
RewriteRule ^SchoolMaterialReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ SchoolMaterialReport.php?MaterialType=$1&D=$2
RewriteRule ^SchoolMaterialReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ SchoolMaterialReport.php?MaterialType=$1&D=$2
RewriteRule ^IssueReport$ IssueReport.php
RewriteRule ^IssueReport/$ IssueReport.php
RewriteRule ^IssueReport/([A-Za-z0-9\-]+)$ IssueReport.php?MaterialType=$1
RewriteRule ^IssueReport/([A-Za-z0-9\-]+)/$ IssueReport.php?MaterialType=$1
RewriteRule ^IssueReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ IssueReport.php?MaterialType=$1&FromDate=$2&ToDate=$3
RewriteRule ^IssueReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ IssueReport.php?MaterialType=$1&FromDate=$2&ToDate=$3
RewriteRule ^PurchaseReport$ PurchaseReport.php
RewriteRule ^PurchaseReport/$ PurchaseReport.php
RewriteRule ^PurchaseReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ PurchaseReport.php?FromDate=$2&ToDate=$3
RewriteRule ^PurchaseReport/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ PurchaseReport.php?FromDate=$2&ToDate=$3
RewriteRule ^Note/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)$ Note.php?NoteType=$1&NoteId=$2
RewriteRule ^Note/([A-Za-z0-9\-]+)/([A-Za-z0-9\-]+)/$ Note.php?NoteType=$1&NoteId=$2
RewriteRule ^Response$ Response.php
RewriteRule ^Response/$ Response.php